/***************** RESET *********************
**********************************************/

* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/***************** GLOBAL ****************************************
******************************************************************/

@font-face {

    font-family: starjedi;
    src: url("fonts/Starjedi.ttf")
}

body {
    
    background-image: url(Images/about.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: news-gothic-std, Helvetica, sans-serif;
    letter-spacing: 0.05em;
}

/***************** Navigation ****************
**********************************************/

nav ul li {
        
    list-style-type: none;
}

nav ul li a:hover {
    
    cursor: pointer;
}

nav a {
        
    color: #FFFFFF;;
    font-size: 18px;
    text-shadow: 2px 2px black;
    
}

nav li a:hover, #curr_pg {
    
    border-bottom: 2px solid #BDC728;
}

nav ul li ul {
        
    position: absolute;
    display: none;
    top: 10px;
    max-width: 100%;
    width: 100%;

}
    
nav ul li:hover ul {
      
    display: flex;
    flex-direction: column;
        
}
    
nav ul li ul li {
        
    padding: 10px 5px;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    text-align: center
    
}
    
nav ul li ul li a {
        
    font-size: 16px;  
}
    
a {
        
    text-decoration: none;
}

#hamburger{ 
    
    display: none;    
}

#prev_next {
    
    color: #FFFFFF;
    display: flex;
    position: absolute;
    top: 400px;
    width: 100%;
    font-size: 18px;
    padding: 20px
}

#prev_next p:last-of-type {
    
    flex: 1;
    text-align: end;
}

/********** Headings & Text ******************
**********************************************/

h1 {
    
    font-family: starjedi, Rockwell, serif;
    font-weight: 1;
    color: #FFFFFF;
    text-shadow: 2px 2px black;
    letter-spacing: 0.2em
    
}

h2 {
        
    color: #BDC728;
    text-align: center;
    font-size: 40px;
    display: block;
    margin-top: 20px;
    font-family: starjedi, Rockwell, serif; 
    letter-spacing: 0.2em
}


span {
        
    font-family: sans-serif;
    font-weight: 800;
}

#subText {
        
    color: white;
    font-size: 22px;
    display: block;
    position: fixed;
    padding: 20px;
    margin: 0;
    top: 50%;
    max-width: 100%;
    text-align: center;
    letter-spacing: 0.09em;
}

#p_about {
    
    color: black;
    margin: 25px auto;
    font-size: 1.5em;
    display: block;
    max-width: 90%;
    justify-content: center;
    background-color: rgba(255,255,255,0.6);
    padding: 20px;
    border-radius: 20px;     
}

#contact_pg {
    
    color: white;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px
}

#contact_pg h3, #contact_pg p {
    
    padding: 5px
}

#cancel input, #cancel label {
    
    display: block;
    margin: 20px auto;
    
}

.contact_info {
    
    max-width: 300px;
    height: 100px;
    margin: 20px auto;
    border: 1px solid white;
    background-color: rgba(255,255,255,0.6);
    font-weight: 800;
    color: #260A09;
    padding: 10px;
}

#cancel {
    
    max-width: 300px;
    height: 100%;
}

#info_list {
    
    margin-top: 100px;
}

#info_list li {
        
    color: #FFFFFF;
    margin: 20px;
    padding: 20px;
    text-align: center;
    list-style-type: none;
    text-shadow: 2px 2px black;
    background-color: rgba(6, 64, 114, 0.7);
    border-radius: 5px;
    font-weight: 600;
}


/*************** Butttons ********************
**********************************************/

#cta_btn {
    
    display: block;
    border-radius: 15% 50% 50% 15%;
    text-align: left;
    background-color: rgba(255,255,255,0.3);

}

button:hover {
    
    cursor: pointer;
    text-shadow: 0px 0px #064072;
}

#launch_btn button {
    
    font-family: news-gothic-std;
    color: #260A09;
    font-weight: 600;
}

#launch_btn button:active {
        
    color: #064072;
}

#backToTopBtn {
    
    display: none;
    position: fixed;
    bottom: 5px;
    right: 3px;
    font-size: 14px;
    background-color: #6588A6;
    color: #FFFFFF;
    cursor: pointer;
    padding: 5px;
    height: 50px;
    border-radius: 50% 50% 4px 4px;
}

#launches button {
    
    display: block;
    margin: 25px auto;
    margin-top: 50px;
    width: 90%;
    max-width: 500px;
    height: 50px;
    border-radius: 20px 50% 50% 20px;
    background-color: rgba(255,255,255,0.8);
    font-weight: 600;
    text-align: left;
    padding-left: 20px;
    letter-spacing: 2px;
    font-weight: 800;
}

#x_click {
    
    display: none;
}


/*************** Searchbar *******************
**********************************************/

#searchbar {
        
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}
    
#searchbar input:first-of-type {
        
    flex: 0.35;
    border-radius: 50px;
    height: 30px;
    padding: 10px

}
    
#searchbar input:last-of-type {
        
    background-color: rgba(255,255,255,0.8);
    width: 35px;
    height: 35px;
    margin-left: 30px;
    border-radius: 40%;
    padding: 10px        
}

/*************** Table ***********************
**********************************************/
    
table {
        
    margin: 0 auto;
    color: #FFFFFF;
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    border-collapse: collapse;
    width: 70%; 
}

td, th {
        
    padding: 10px;
    border: 2px solid #FFFFFF;
    background-color: rgba(6, 64, 114, 0.8);
       
}

/*************** Subscribe *******************
**********************************************/

#subscribe {
        
    color: #FFFFFF;
    background-color: rgba(6, 64, 114, 0.6);
    text-align: center;
    margin: 20px auto;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    max-width: 220px;
    
}
    
#subscribe span {
        
    color: #BDC728;
    text-decoration: underline;
    font-style: oblique;
    font-weight: 500;
}
    
#subscribe input, #subscribe label,  #unsubscribe input,  #unsubscribe label {
    
    color: white;
    font-weight: 600;
    padding: 2px;
    border-radius: 5px;
    display: none;
    border-radius: 5px;
    margin: 10px auto;
    justify-content: center;
    font-size: 14px;
    letter-spacing: 0.05em;
}

#unsubscribe input,  #unsubscribe label {
    
    display: block;
}

#subscribe label {
    
    margin-top: 20px
}

#subscribe input:last-of-type, #unsubscribe input:last-of-type {
    
    width: 110px;
    height: 40px;
    background-color: green;
    color: #FFFFFF;
    justify-content: center;
    padding: 8px;
    margin-top: 20px;
    border-radius: 5px;
}

#thanksMsg {
    
    font-size: 28px;
    color: lightgreen;
    font-weight: 800;
    margin-top: 20px;
    display: none;
    background-color: rgba(255,255,255,0.2);
    padding: 10px;
    border-radius: 5px;
    text-shadow: 2px 2px black
}

/***************** Screen S/M ************************************
******************************************************************/

@media only screen and (max-width: 622px) {
    
    header {
        
        display: flex;
    }
    
    h1 {
        
        font-size: 24px;
        flex: 25%;
        margin: 10px;
        letter-spacing: 0.03em;
    }
    
   #hamburger {
        
        display: flex;
        position: relative;
        left: 95px;
        width: 40px;
        height: 40px;
        margin: 10px;
        margin-top: 16px;
        border: 1px solid;
        border-radius: 5px;
        padding: 10px;
        background-color: rgba(255,255,255,0.7);
    }
    
   #subText {
    
        font-size: 24px;
        top: 40%;
        left: 20%;
        width: 60%;
        
    }

   #cta_btn {
        
        height: 70px;
        width: 33%;
        margin: auto;
        font-weight: 600;
        color: white;
        padding: 10px;
        font-size: 16px;
        transform: translateY(250px);

    }
    
    #topnav {
        
        position: relative;
        top: 60px;
        right: 15px;
        visibility: hidden;
        background-color: rgba(255,255,255,0.6);
    }
    
    nav ul li{
        
        padding: 5px;
        border-bottom: 2px solid;
    }
    
    nav ul li a {
        
        display: block;
        padding: 5px 5px;
        font-size: 16px;
        color: black;
        font-weight: 550;
        text-shadow: none;  
    }
    
    nav ul li:hover ul {
        
        display: none;
    }
    
    h2 {
        
        margin-top: 50px
    }
    
    #rocket_img {
        
        display: none;

    }
    
    #prev_next {
    
        top: 33%;
    }
    
}

/***************** Screen L **************************************
******************************************************************/

@media only screen and (min-width: 623px) and (max-width: 1219px) {
    
    #header_index h1 {
        
        font-size: 48px;
        display: block;
        position: fixed;
        top: 30%;
        left: 25%;
        width: 50%;
        text-align: center;
        letter-spacing: 0.09em;
        font-family: starjedi, Rockwell, serif;
    }
    
    nav ul {

        display: flex;
        margin-top: 20px;
        margin: 25px auto;
        max-width: 100%;

    }
    
    #home_nav ul {
        
        max-width: 88%;
    }
    
    nav ul li {
        
        width: 100%;
        padding: 5px;
        text-align: center;
        position: relative;
    }
    
    nav ul li:last-of-type {
        
        border: none;
    }
    
    nav ul li ul {

        left: 0;
        margin-top: 23px;
    }
    
    #subText {
    
        font-size: 24px;
        top: 50%;
        left: 20%;
        width: 60%;
    }

    #cta_btn {
        
        font-size: 24px;
        position: fixed;
        top: 70%;
        left: 35%;
        width: 30%;
        padding: 10px;
        padding: 12px;
    }
    
    h2 {
        
        margin-top: 100px;
        display: block;
    }
    
    #heading_launch {
        
        display: flex;
    }
    
    #heading_launch h1 {
        
        font-size: 19px;
        letter-spacing: 0.1em;
        margin: 10px;
        flex: 0.3;
        font-family: starjedi, Rockwell, serif;
       
    }
    
    #heading_launch nav {
        
        margin: 20px 11px 0px 5px;
        flex: 1;
    }
    
    #heading_launch nav ul li{
        
        padding: 4px;
    }
    
    #heading_launch nav ul li a{
        
        letter-spacing: 0.3px;
    }
    
    #info_container {
        
        margin: 0 auto;
        max-width: 50%;
        margin-top: 50px;
        overflow: hidden;
    }

    #rocket_img {
        
        transform: rotate(90deg);
        width: 650px;
        position: absolute;
        top: 430px;
        left: 30%;
        display: inline-block

    }
    
    #info_list li {
    
        margin: 15px 25px;
        padding: 25px;
        max-width: 350px;
        text-align: left;
    }
}

/***************** Screen XL *************************************
******************************************************************/

@media only screen and (min-width: 1220px) {
    
    body {
    
        background-position: top
    }
        
    #header_index h1 {
        
        font-size: 72px;
        display: block;
        position: fixed;
        top: 20%;
        left: 25%;
        width: 50%;
        text-align: center;
        letter-spacing: 0.18em;
        font-family: starjedi, Rockwell, serif;
    }
    
    #heading_launch h1 {
        
        font-size: 28px;
        letter-spacing: 0.1em;
        text-align: center;
        margin: 20px;
        font-family: starjedi, Rockwell, serif;
    }
    
    nav ul li a {
        
        width: 100%
    }
    
    nav ul {

        display: flex;
        margin: 25px auto;
        max-width: 60%;
        text-align: center
        
    }
    
    nav ul li {
        
        width: 100%;
        position: relative;
        padding: 5px 0px;
    }
    
    nav ul li:last-of-type {
        
        border: none
    }
    
    #subText {
    
        font-size: 32px;
        top: 50%;
        left: 20%;
        width: 60%;
    }
    
    #cta_btn {
        
        font-size: 24px;
        position: fixed;
        border-radius: 15% 50% 50% 15%;
        top: 80%;
        left: 41%;
        width: 20%;
        padding: 10px 10px 10px 20px;
    } 
    
    #title {
        
        font-size: 32px;
        top: 10px;
    }
    
    #topnav {
        
        width: 100%;
    }
    
    h2 {
        
        margin-top: 100px
    }
    
    #p_about {
        
        max-width: 60%
    }
    
    #searchbar input:first-of-type {
        
        flex: 0.2;
    }
    
    table {
        
        width: 50%
    }
    
    #rocket_img {
        
        display: block;
        margin: 50px auto;
        margin-top: 100px;
    }
    
    #info_list {
    
        margin-top: 0px;   
    }
    
}

